{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
</header>

{{- if .Content }}
<div class="projects-content">
  {{ .Content }}
</div>
{{- end }}

{{ range .Pages }}
<div class="project-entry">
  {{- $isHidden := (site.Params.cover.hidden | default site.Params.cover.hiddenInList) }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
  <header class="entry-header">
    <h3>
      {{- .Title }}
    </h3>
  </header>
  <div class="project-type">
    <p>{{ .Type }}</p>
  </div>
  <div class="project-entry-content">
    <p>{{ .Description }}</p>
  </div>
  <a class="entry-link" aria-label="project link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</div>
{{- end }}

{{- end }}{{/* end main */}}